/*style.css*/
#grid {
  .gridStyle {
      border: 1px solid rgb(212,212,212);
      height: 300px;
  }

  .green {
    background-color: green;
    color: white;
  }

  .selectedItems {
    float: left;
  }
}