<p>This is the about view.</p>

<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="friend in friends" ng-click="chkMe($index)" >
      <td ng-class="{'special': friend.isSpecial}">
        <span ng-class="{'glyphicon glyphicon-heart':friend.isSpecial}"></span>
        {{friend.name}}
      </td>
      <td >{{friend.age}}</td>
      <td >
        <button ng-click="friends.splice($index, 1)" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button ng-click="save()" class="btn btn-primary">Save</button>

<hr>

<input type="text" ng-model="friend.name" placeholder="name"></input>

<input type="text" ng-model="friend.age" placeholder="age"></input>

<select ng-model="friend.isSpecial" ng-options="v for v in [true, false]"></select>

<button ng-click="clear()" ng-show="selected" class="btn btn-xs">
  <span class="glyphicon glyphicon-remove"></span>
</button>

<button ng-click="addNew()" ng-show="!selected" class="btn btn-xs" >
  <span class="glyphicon glyphicon-circle-arrow-up"></span>
</button>

<hr>

<select ng-model="selectedValue" ng-options="v for v in items"></select>

<hr>

<div ng-init="puppies = [
  {name:'John', age:25, gender:'boy'},
  {name:'Jessie', age:30, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Joy', age:15, gender:'girl'},
  {name:'Mary', age:28, gender:'girl'},
  {name:'Peter', age:95, gender:'boy'},
  {name:'Sebastian', age:50, gender:'boy'},
  {name:'Erika', age:27, gender:'girl'},
  {name:'Patrick', age:40, gender:'boy'},
  {name:'Samantha', age:60, gender:'girl'}
]">
  I have {{puppies.length}} friends. They are:
  <input type="search" ng-model="q" placeholder="filter friends..." />
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in puppies | filter:q">
      [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
    </li>
  </ul>
</div>