<link rel="stylesheet" href="../styles/news.css">

<div id="news">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <div class="item">
            <img src="../images/news/Bridget_van_Kralingen.jpg" alt="">
            <h1>
              IBM named among top 10 2014 Best Companies for Multicultural Women
            </h1>
            <p>
              Our commitment to fostering a diverse and inclusive corporate culture honored.
            </p>
          </div>
          <div class="item">
            <img src="../images/news/de_139_ideas_image60x60.png" alt="">
            <h1>Malaysia Airlines tragedy</h1>
            <p>Information for IBMers.</p>
          </div>
          <div class="item">
            <h1>Viewpoints roundup: June, 2014</h1>
            <p>Smarter Cities and Big Data.</p>
          </div>
          <div class="item">
            <img src="../images/news/ed.jpg" alt="">
            <h1>Accessibility is redefining personalization</h1>
            <p>
              Chief Accessibility Officer Frances West on accessibility's importance for business and government.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="item">
            <img src="../images/news/IBM_50_x_50.jpg" alt="">
            <h1>GBS 1-3-9 Story of the Week</h1>
            <p>
              Edward Wong on how to share expertise within cultural context. [Profiled for GBS]
            </p>
          </div>
          <div class="item">
            <img src="../images/news/IBM_TA_Review_w3_60x60.png" alt="">
            <h1>1-3-9 GBS story of the week</h1>
            <p>
              Share expertise within cultural context, by Edward Wong. [Profiled for GBS]
            </p>
          </div>
          <div class="item">
            <img src="../images/news/kr_ts_1-3-9_2013.jpg" alt="">
            <h1>Design a better airport experience</h1>
            <p>
              TSA issues challenge with up to $15,000 in cash prizes. [Profiled for Sales, Res, SWG, GBS, STG]
            </p>
          </div>
          <div class="item">
            <h1>Our second quarter 2014 results: GBS</h1>
            <p>
              Bridget van Kralingen on our momentum in analytics, mobile, social, and cloud. [Profiled for GBS]
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="item">
            <img src="../images/news/mcw-156.png" alt="">
            <h1>Think Friday: Refine Your Advantage</h1>
            <p>
              Catch up on unexplored topics, revisit more deeply and practice your insights.
            </p>
          </div>
          <div class="item">
            <img src="../images/news/viewpoints_156x156.gif" alt="">
            <h1>Story of the Week</h1>
            <p>
              Small re-inventions brings luck. - posted by Manoj Arora. Submit your own story.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div style="clear:both"></div>

</div>