<!doctype html>

<html>

  <header>
    <meta charset="utf-8">
    <title>testing CSS</title>

    <link rel="stylesheet" href="../styles/test.css"></header>
<body>

  <div id="outer1">

    <div class="xx_float">
      <div id="d1">D1: Hello World!</div>
    </div>
    <div class="xx_float">
      <div id="d2"> D2 alkdsfklajsdfjaklsd
      </div>
    </div>
      <div class="xx_float">
        <div id="d3">
          D3: kjcljlkjrdjkklbvkljxlckbklsd
  adskjalkdsjfkl
  asdfkakldsfjakls
  dskjalkdjfs
  Hello World!
        </div>
      </div>
    </div>

</body>
  </html>