ng-change="chgCate(cate.name)"

      .status-process {
    display: block;
    height: 38px;
    background: url(../images/status-bg.png) repeat-x 0 -29px;
  };

  .order-status-wrapper {
    .order-status-process {

    };
  };


      .point {
      display: block;
      width: 38px;
      height: 38px;
      margin: 18px auto 5px;
      background: url(../images/status-off.png) no-repeat;
    }

    | filter:{category:cate.name}
     <div ng-show="hasChild">


background-image: url(images/w3-icons-sprites.png);
cursor: pointer;