<link rel="stylesheet" href="../styles/ulList.css">


<div id="ulList">
  <h1>ulList</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon">
              <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <h5>title goes here.</h5>
          </div>
          <div class="widget-content">

            <ul class="lt2">
              <li class="li-1">
                <div class="wrapper">
                  first

                    <span class="up label label-primary">10</span>
                </div>

              </li>
              <li class="li-2">
                <div class="wrapper">
                  second
                </div>
              </li>
              <li class="li-3">
                <div class="wrapper">
                  thrid
                </div>

                    <span class="label label-primary">30</span>

              </li>
              <li class="li-4">
                <div class="wrapper">
                  forth
                </div>
              </li>
              <li class="li-5">
                <div class="wrapper">
                  fifth
                </div>
              </li>
            </ul>

            <div class="cls"></div>
            <ul class="list">
              <li class="item">
                <span class="fmt">
                  <span class="glyphicon glyphicon-asterisk"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
                </span>

              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-euro"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-minus"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-cloud"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-asterisk"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-euro"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-minus"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-cloud"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-asterisk"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>
              <li class="item">
                  <span class="glyphicon glyphicon-euro"></span>
                  <span class="label-class">glyphicon glyphicon-asterisk</span>
              </li>

            </ul>
            <div class="cls"></div>
          </div>
        </div>


      </div>



      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>
